ul#menu {list-style-type: none;padding:0;margin:0;background:white;height:45px;font-size:17px; font-style: "century-gothic";width:900px;border-bottom:10px solid white;   color: rgb(0, 0, 0);
  font-size: 12;
  font-weight: bold;
  float: left;}
      ul#menu li {float:left;}
      ul#menu li a{margin-left:10px;line-height:40px;color:black;text-decoration:none;padding:0 15px;display:block;transition:background-color 1s; -webkit-transition: background-color 1s;-moz:background-color 1s;}
      ul#menu li a:hover{background: #8cb5ed; margin: bottom 12px;}
      ul#menu li.open ul.drop {position:absolute;list-style: none;padding:0;margin:0;display:none;}
      ul#menu li.open ul.drop li{float:none}
      ul#menu li.open ul.drop li a{width:200px;background:#8cb5ed;border-bottom:1px dotted white;}
      ul#menu li.open ul.drop li a:hover{background:#09a548;color: #fff;}
body,
html {
  height: 100%;
  margin: 0;
  font-family: helvetica;
  font-weight: 100;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.container.open-sidebar { left: 240px; }

.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  height: 100%;
  background: #f3f3f3;
  z-index: 0;
}

#sidebar {
  background: #DF314D;
  position: absolute;
  width: 240px;
  height: 100%;
  left: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li { margin: 0; }

#sidebar ul li a {
  padding: 15px 20ipx;
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #C922;
}

#sidebar ul li:hover a { background: #C9223D; }

.main-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.main-content .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}

.main-content .content h1 { font-weight: 100; }

.main-content .content p {
  width: 100%;
  line-height: 160%;
}

.main-content #sidebar-toggle {
  background: #DF314D;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}

.main-content #sidebar-toggle .bar {
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child { margin-bottom: 0; }
*{margin:0;
  padding:0;
  font-family: "Century Gothic";}
  body {
      background:#ffffff;
      align-items:center;justify-content:center;
      min-height:50vh;
  }
  form{
      background: url(images/sign.jpeg);
      background-size: 280px;
      padding:20px;
      display: inline-flex;
      flex-direction:column;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 0 10px black;
      width:300px;
      height: 400px;
  }
  form h2 {
      font-size:55px;
      color:white;
      margin-bottom:30px;
  }
  form input {
      border:none;background:white;
      text-align:center;
      outline:none;
      padding:10px;
      margin:20px 0 0 0;color:white;
      height:10px;
      width:60%;
      border-radius:40px;
      transition: 0.2s ease-in;
  }
  form input[type="text"], form input[type="password"] {
      border:solid 2px #1B9CFC
  }
  form input[type=submit]{
      border:solid 2px #55E6C1;
      box-sizing: border-box;
      height: 50px;
      width:40%;
      cursor: pointer;
      color: black;
  }
  form input[type="text"]:focus, form input[type="password"]:focus {
      width:80%;
      border:solid 2px #55E6C1;
  }
  form input[type=submit]:hover {
   background : #55E6C1;
   color: #182C61;
  }
/* BANNER */
#ban {
  height: 450px;
  background: url(images/main.png) ;
  background-size: cover;
}
  #exmachina {
   color: rgb(0, 0, 0);
   font-size: 2em;
   font-weight: bold;
   float: right;
}
#slogan h2{
  font-family: "Century Gothic";
}
#ban2 {
  height: 450px;
  background: url(images/main2.png) ;
  background-size: cover;
}
#desc p{
  font-family: "Century Gothic"; 
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 959px) {
  
}
